.bar {
  width: 100vw;
  height: 8rem;
  background-color: rgb(117, 122, 118);
  border-width: 0rem;
  border-color: black;
  position: absolute;
  top: 0;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  font-size: x-large;
  top: 10px; 
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  height: 50%;
}

.signout {
  height: 4rem;
  position: absolute;
  top: 10px;
  left: 90vw;
}
