* {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: black;
  width: 100vw;
}

button {
  background-color: rgb(179, 226, 179);
  border-radius: 1rem;
  border: none;
}

button:hover {
  background-color: rgb(148, 170, 148);
  cursor: pointer;
}
